html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,time, mark, audio, video {
margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
html{scroll-behavior:smooth;}
/***************************************************************/
h1{font-size:35px;text-align:center;font-family: 'Berkshire Swash', cursive;}
h2{padding: 25px ;font-size:30px;text-align:center;font-family: 'Berkshire Swash', cursive;}	
h3{padding: 20px ;font-size:30px;text-align:center;font-family: 'Berkshire Swash', cursive;}
h4{font-size:20px;text-align:center;font-family: 'Berkshire Swash', cursive;}	
p{font-size:15px;text-align:justify;margin:15px;font-family: 'Gentium Book Basic', serif;}
.fs-1{font-size: 1em;}
.fs-1-5{font-size: 1.5em;}

*{box-sizing:border-box;}

@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap');
/**********************logo animation********************************************
.logo a {text-decoration: none;color: black; }
.logoImg{background: white;position: relative;animation: logoMove 20s infinite;}
@keyframes logoMove {
	0%   {left:0;width: 150px;}
	25%  {left:10%;width: 100px;}
	50%  {left:0%;width: 150px;}
	75%  {left:10%;width: 100px;}
	100% {left:0%;width: 150px;}
  }*
/***********************Corps****************************************************/  
.corps{margin-top: 150px;}
/********************************************************************************/
nav, nav .dropdown-menu,nav button span{background: black;color: white;z-index: 100;}
nav a,nav .dropdown-menu a{text-decoration: none;color: white;font-weight: bold;}
nav a:hover,nav .dropdown-menu a:hover{background:black;color:white;font-weight: bold; text-shadow: 1px 6px 2px #929090;}
nav .btn{box-shadow: 2px 2px 2px #929090;background: black;text-align: center;color: white;opacity: 0.5;}
.navbar-toggler{height: 150px;font-size: 50px;}
.navbar-collapse{text-align: center;}
/*******************header******************************************************/
.service{background: black;box-shadow: 5px 5px 15px #929090;}
.service .dropdown-menu{background: black;box-shadow: 5px 5px 15px #929090;}
.service li{font-size:20px;}
.service a{color:white; text-shadow: -2px 2px 2px #929090;}
.service  i{color:white;text-shadow: -2px 0px 2px #929090;font-size:20px;}
.service h1 a{text-decoration: none;}
.service a:hover, .service i:hover{ text-shadow: 1px 6px 2px #929090;}
/**************main	************************************************************/
main{	box-shadow:5px 5px 15px black;padding-bottom: 10px;}
main div .femme, main div .homme{height: 100vh;}
.imgFemme, .imgHomme, .img-thumbnail{box-shadow: 5px 5px 15px black;padding-bottom: 10px;}
/**************prefooter*********************************************************/
.preFooter{background:black ;color: white;box-shadow: 5px 5px 5px #929090;padding-bottom: 10px;}
.preFooter h2{	text-shadow: -4px -1px 2px #929090;}
.preFooter hr {border-color: #929090;-moz-border-border-color: #929090;	} 
/******/
.reseaux a i{color: black;font-size: 40px;}
.reseaux a i:hover{}

/******/
.preFooter2{box-shadow:5px 5px 15px black;padding-bottom: 10px;}
 /******************footer******************************************************/
footer a{text-decoration: none;color: black;}
footer{box-shadow:5px 5px 15px black;padding: 10px;}
/**********************************BLOC PHOTOS MINIATURES***************ok**********/
figure{position: relative;border: 3px solid #c0c0c0;overflow: hidden;   }
figure figcaption a{text-decoration: none;color: rgb(41, 37, 37);}
figcaption{position: absolute;background: rgba(255, 253, 253, 0.75);padding: 5px 0;text-align: center;width: 100%;transition: 0.6s;left: 0;bottom: -110px; /* on met la légende plus bas */}
figure:hover figcaption{bottom: 0;color: black;}


/********************************************************************************/
/******************Small devices xs 576px and up********************************/
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	figure:hover figcaption{
			bottom: 0;
			color: black;
		}
 }	  
/******************Medium  devices xs 768px and up********************************/
@media (min-width: 768px) {
	nav .navPerso{height: 100vh;}
	.femme{height: 100%;}
	.navbar-collapse{
		font-size: 20px;
	}
}	
/* Large devices (desktops, 992px and up)*/
/******************Large devices xs 992px and up********************************/
@media (min-width: 992px) {  }
/* Extra large devices (large desktops, 1200px and up)*/
/******************xl devices xs 1200px and up********************************/
@media (min-width: 1200px) {  }


